@mixin container {
  width: 100%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (max-width: 1399px) {
    max-width: 86%;
  }

  @media (max-width: 1199px) {
    max-width: 92%;
  }

  @media (max-width: 991px) {
    max-width: 96%;
  }

  @media (max-width: 575px) {
    max-width: 100%;
    padding-left: 14px;
    padding-right: 14px;
  }
}
.page {
  min-height: 70vh;
  background: #f7f7f5;
}

.inner {
  @include container;
  margin-inline: auto;
  padding-block: 1.5rem 3rem;
}
