$bp-sm: 36rem;
$bp-md: 48rem;
$bp-lg: 64rem;
$bp-xl: 80rem;

@mixin sm {
  @media (min-width: $bp-sm) {
    @content;
  }
}

@mixin md {
  @media (min-width: $bp-md) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $bp-lg) {
    @content;
  }
}
